<h2>Change Password</h2>
<form *ngIf="!otpSent" [formGroup]="getOtpForm" (ngSubmit)="generateOtp()" class="flex flex-col mb-4 text-left">
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" autocomplete="email">
        <mat-error *ngIf="email.errors?.['required']">Email is required</mat-error>
        <mat-error *ngIf="email.errors?.['email']">Email is in valid</mat-error>
        <mat-icon matSuffix>account_circle</mat-icon>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="!getOtpForm.valid">Generate OTP</button>
</form>

<h2 *ngIf="otpSent&& email.value">{{email.value}}</h2>
<form *ngIf="otpSent" [formGroup]="changePasswordForm" (ngSubmit)="changePassword()" class="flex flex-col mb-4 text-left">
    <mat-form-field>
        <mat-label>OTP</mat-label>
        <input matInput type="text"  formControlName="email" formControlName="otp" autocomplete="one-time-code">
        <mat-error *ngIf="otp.errors?.['required']">OTP is required</mat-error>
        <mat-error *ngIf="otp.errors?.['minlength']">OTP is in valid</mat-error>
        <mat-icon matSuffix>vpn_key</mat-icon>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput [type]="getType(isPasswordVisible)" formControlName="password" autocomplete="new-password">
        <mat-icon matSuffix (click)="tooglePasswordVisibility()" *ngIf="isPasswordVisible">visibility</mat-icon>
        <mat-icon matSuffix (click)="tooglePasswordVisibility()" *ngIf="!isPasswordVisible">visibility_off</mat-icon>
    </mat-form-field>

    <ng-container *ngFor="let error of passwordErrorMessages | keyvalue">
        <span [style.color]="isPasswordError(error.key)? 'red': 'green'">
            <mat-icon *ngIf="isPasswordError(error.key)" matSuffix>error_outline</mat-icon>
            <mat-icon *ngIf="!isPasswordError(error.key)" matSuffix>done</mat-icon>
            {{error.value}}</span>
    </ng-container>

    <mat-form-field>
        <mat-label>Confirm Password</mat-label>
        <input matInput [type]="getType(isConfirmPasswordVisible)" formControlName="confirmPassword"
            autocomplete="new-password">
        <mat-icon matSuffix (click)="toogleConfirmPasswordVisibility()"
            *ngIf="isConfirmPasswordVisible">visibility</mat-icon>
        <mat-icon matSuffix (click)="toogleConfirmPasswordVisibility()"
            *ngIf="!isConfirmPasswordVisible">visibility_off</mat-icon>
        <mat-error *ngIf="confirmPassword.errors?.['required']">Confirm Password is required</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" class="mb-2" (click)="changeEmail()">Change Email</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="!changePasswordForm.valid">Change Password</button>

</form>
<ul class="bg-gray-100 p-2 mb-0 text-left">
    <li>
        Already have an account?
        <a routerLink="/auth/login" color="primary" mat-button>SignIn</a>
    </li>
    <li>
        <span>Don't have an account?</span>
        <a routerLink="/auth/register" color="warn" mat-button>SignUp</a>
    </li>
</ul>