<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="flex flex-col mb-4 p-4">
    <mat-form-field apperance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" autocomplete="email">
        <mat-error *ngIf="email.errors?.['required']">Email is required</mat-error>
        <mat-error *ngIf="email.errors?.['email']">Email is in valid</mat-error>
        <mat-icon matSuffix>account_circle</mat-icon>
    </mat-form-field>

    <mat-form-field apperance="outline">
        <mat-label>Password</mat-label>
        <input matInput autocomplete="current-password" formControlName="password"
            [type]="showPassword? 'text' : 'password' ">
        <mat-error *ngIf="password.errors?.['required']">Password is required</mat-error>
        <mat-icon (click)="togglePasswordVisibility()" matSuffix>
            {{ showPassword? "visibility" : "visibility_off" }}
        </mat-icon>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Login</button>
</form>


<div class="flex flex-col items-center justify-between mb-4">
    <h2> Alterative login</h2>

    <span class="flex-auto"></span>
    <asl-google-signin-button type='standard' shape='square' size='medium' theme="outline"
        logo_alignment="left"></asl-google-signin-button>
    <span class="flex-auto"></span>
</div>
