<mat-card class="mat-elevation-z4 border-r-emerald-600">
    <mat-card-header>
        <mat-card-title>{{question.question}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-radio-group class="flex flex-col" [(ngModel)]="labelPosition" [disabled]="isCorrect !== undefined && !allowReview"
            *ngFor="let option of question.options; let i=index" (change)="onSelect(i)">
            <mat-radio-button [value]="option">
                <strong>{{i}}</strong>: {{option}}</mat-radio-button>
        </mat-radio-group>
    </mat-card-content>

    <mat-card-content class="flex flex-row justify-between bg-slate-600 text-white" *ngIf="isSubmitted">
        <mat-icon *ngIf="isCorrect" class="text-green-500">done</mat-icon>
        <mat-icon *ngIf="!isCorrect" class="text-red-500">error_outline</mat-icon>
        <span>
            {{question.description}}
        </span>
    </mat-card-content>
</mat-card>