<mat-card *ngFor="let exam of exams">
    <mat-card-header>
        <mat-card-title>{{exam.name | uppercase}}</mat-card-title>
        <mat-card-subtitle>{{exam.description}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>Created At: {{exam.createdAt | date: 'medium'}}</p>
        <p>Updated At: {{exam.updatedAt | date: 'medium'}}</p>
    </mat-card-content>
    <mat-action-list> 
        <button mat-raised-button color="primary" (click)="examDetail(exam)">Start</button>
    </mat-action-list>
</mat-card>